@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: black;
  --main: #A72A0B;
  --primary: #1a1818;
  --grey: #676767;
  --grey-2: #F5F5F5;
  --light: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 400;
  font-family: var(--font-poppins);
}
button{
  background: var(--main);
  color: var(--light);
  padding: 10px 40px !important;
  font-size: 1.2rem !important;
  cursor: pointer;
  font-family: var(--font-playfair) !important;
  transform: 0.3s;

}
button:hover{
  background: var(--background);
  color: var(--main) ;
}
button:hover svg path{
  fill: var(--main);
}
@media (max-width:768px) {
  .arrow svg{
    height: auto;
    width: 20px;
  }
  
}