@import "tailwindcss";
@theme {
  --breakpoint-xs: 400px;
  /* --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px; */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: black;
  --main: #A72A0B;
  --primary: #1a1818;
  --grey: #676767;
  --grey-2: #F5F5F5;
  --light: white;
  --overlay: rgba(0, 0, 0, 0.673);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 400;
  font-family: var(--font-poppins);
}
button{
  background: var(--main);
  color: var(--light);
  padding: 10px 40px !important;
  font-size: 1.2rem !important;
  cursor: pointer;
  font-family: var(--font-playfair) !important;
  transition: 0.3s all linear;

}
button:hover{
  background: var(--background);
  color: var(--main) ;
  box-shadow: 0px 2px 5px rgb(175, 175, 175);
}
button:hover svg path{
  fill: var(--main);
}
/* Popup */
.popup{
  background-color: rgba(0, 0, 0, 0.895);
}
@media (max-width:768px) {
  .arrow svg{
    height: auto;
    width: 20px;
  }
  
}