.wrapper {
  height: 100%;
  overflow: hidden;
}

.images {
  display: flex;
  flex-direction: column;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
.wrapperHorizon{
  height: 100%;
  overflow: hidden;
}
.imagesHorizon{
  display: flex;
  animation: scrollHorizon 15s linear infinite;
}

@keyframes scrollHorizon {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}