.imgBg{
  background: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.imgBg h2{
    color: var(--background) !important;
}
.shineDiv{
    background: linear-gradient(120deg, transparent 0%, rgba(255,255,255,0.4) 50%, transparent 100%);
    background-size: 200% 200%;
    animation: shine 3s linear infinite
}
@keyframes shine {
    0% {
       background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}